<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<%= content_for :banner do %>
 
   <div class="container">
       <div class="row">
         <div class="span12 banner">
            <img src="/assets/banner-aboutus.png"/>
          </div>   
       </div>   
    </div> 
<%end%>



<div class="container">
    <div class="sub-content">
    	<p>UK Locum Doctors are a North East based agency specialising in providing GP Locum Doctors and Nurse Practitioners to Primary Care Trusts, NHS, Private Corporate practices.</p>

        <p>A well established agency with over 10 years experience, we have an excellent network of clients and candidates across the North East region and have achieved preferred supplier status to many GP practices and Primary Care Trusts. We cater for both short and long-term assignments and can help with those last minute staffing requests. We offer a high quality responsive service 24 hour / 365 days a year at very competitive rates.</p>
    </div>

    <aside id="sticky-social">
    <ul>
        <li><a href="https://www.facebook.com/uklocumdoctors" class="entypo-facebook" target="_blank"><i class="fa fa-facebook-f icon"></i><span>Facebook</span></a></li>

        <li><a href="https://twitter.com/UK_LocumDoctors" class="entypo-twitter" target="_blank"><i class="fa fa-twitter icon"></i><span>Twitter</span></a></li>

        <li><a href="https://plus.google.com/107996761245479311961" class="entypo-gplus" target="_blank"><i class="fa fa-google-plus icon"></i><span>Google+</span></a></li>

        <li><a href="https://www.linkedin.com/company/uk-locum-doctors-limted" class="entypo-linkedin" target="_blank"><i class="fa fa-linkedin icon"></i><span>LinkedIn</span></a></li>
        
        <li><a href="mailto:info@uklocumdoctors.co.uk" class="entypo-email" target="_blank"><i class="fa fa-envelope icon"></i><span>Email</span></a></li>
        
    </ul>
</aside>
    <div class="content">
        <h4 class="blue_color">Benefits of Services</h4>
        
    
        <div class="span4 list-box left">    
            <p>Our Services to Clients:</p>
                <ul class="left-list">
            	   <li>Value for Money</li>
                    <li>Compliance checks: GMC, Medical Indemnity, Performers List, Qualifications References</li>
                    <li>GP Locums</li>
                    <li>DBS Check</li>
                    <li>Out of Hours Services</li>
                </ul>
                <ul class="right-list">
                    <li>Accident & Emergency</li>
                    <li>Walk In Centres</li>
                    <li>Extended Hours</li>
                    <li>HM Prison Services</li>
                    <li>Permanent & Temporary Recruitment Posts</li>
                </ul>
        </div>
        <div class="list-right-box">
            <p>We provide our Candidates with:</p>
                <ul>
                   <li>Excellent Rates</li>
                    <li>GP Led Service</li>
                    <li>Mentoring</li>
                    <li>24/7 365 days a year on call</li>
                    <li>Responsive service</li>
                </ul>
        </div>    
    </div> 

    <div class="clear"></div>
    <hr/>
    <div class="content">
        <h4 class="blue_color">Up to  15% cheaper than our competitors</h4>
        <p> In a recent survey of practices, UK Locum Doctors was up to 15% cheaper than some of the other agencies in the area. To remain competitive we believe in a flexible approach to pricing that allows our clients to receive excellent value for money. </p>
        <p>We believe in paying locum Doctors some of the best possible rates.</p>
    </div>
       
</div>

<div class="span1">&nbsp; </div>