<head>
 <script src='https://www.google.com/recaptcha/api.js'></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<%= content_for :banner do %>
  <div class="container">
   <div class="row">
     <div class="span12 banner">
        <img src="/assets/banner-details.png"/>
      </div>   
   </div>   
  </div>  
<%end%> 
<br/>

<aside id="sticky-social">
    <ul>
        <li><a href="https://www.facebook.com/uklocumdoctors" class="entypo-facebook" target="_blank"><i class="fa fa-facebook-f icon"></i><span>Facebook</span></a></li>

        <li><a href="https://twitter.com/UK_LocumDoctors" class="entypo-twitter" target="_blank"><i class="fa fa-twitter icon"></i><span>Twitter</span></a></li>

        <li><a href="https://plus.google.com/107996761245479311961" class="entypo-gplus" target="_blank"><i class="fa fa-google-plus icon"></i><span>Google+</span></a></li>

        <li><a href="https://www.linkedin.com/company/uk-locum-doctors-limted" class="entypo-linkedin" target="_blank"><i class="fa fa-linkedin icon"></i><span>LinkedIn</span></a></li>
        
        <li><a href="mailto:info@uklocumdoctors.co.uk" class="entypo-email" target="_blank"><i class="fa fa-envelope icon"></i><span>Email</span></a></li>
        
    </ul>
</aside>

<div class="span12"> 
  <div class="span6">
    <!--
  	<p class="font-bold"><b>UK LOCUM DOCTORS LTD</b>
      <br/>Q16, Quorum Business Park
      <br/>Benton Lane 
      <br/>Newcastle upon Tyne
      <br/>NE12 8BX</p>
    -->  
      <p class="font-bold"><b>Mobile: </b>0781 044 4140 / 0772 544 3191</p>
      <p class="font-bold"><b>Telephone:</b> 0191 270 5119</p>
      <p class="font-bold"><b>Fax: </b>0191 266 0489</p>
      <p class="font-bold"><b>Email us at</b> <a href="mailto:info@uklocumdoctors.co.uk">info@uklocumdoctors.co.uk</a>
      <p class="red font-bold"> we are available 24 x 7, 365 days for all your services </p>  
    
  </div>
  <div class="span4">      
    <h4 class="blue_color">Contact Us Online</h4>

    <%= render 'shared/alert' %>

    <div class="form-contact">
      <%= form_tag(contactus_path) do %>
    		<div class="control-group">
      		<label class="control-label" for="inputEmail">Your Name <span>*</span></label>
      		<div class="controls">
        		<%= text_field_tag("name", (params[:name] || ""), :class=> "input-xlarge")%>
     		  </div>
    		</div>
        <div class="control-group">
      		<label class="control-label" for="inputEmail">Email Address<span>*</span></label>
      		<div class="controls">
        		<%= text_field_tag("email", (params[:email] || ""),:class=> "input-xlarge")%>
     			</div>
    		</div>
              	
        <div class="control-group">
      		<label class="control-label" for="inputEmail">Message<span>*</span></label>
      			<div class="controls">
              <%= text_area_tag("message", (params[:message] || ""),:class=> "input-xlarge") %>
     				</div>
        </div>
  			

        <%= recaptcha_tags %>
        <br /> 
        <%= submit_tag("Send Message", :class => "btn btn-primary", :disable_with => "Please wait...") %>  
      <%end%>
    </div>
  </div>

   <div class="span1">&nbsp; </div>

</div>
