 <%= content_for :banner do %>
       <div class="container">
       <div class="row">
         <div class="span12 banner">
            <img src="/assets/banner-settings.png"/>
          </div>   
       </div>   
    </div>  
<%end%> 
<div class="span1"> &nbsp;</div>
<div class="span10">
 
    	<p>UK Locum Doctors Ltd is a specialist locum agency that provides locum and salaried hospital doctors throughout the North East UK. As one of the North East leading Medical Locum Agency, we are driven by a strong desire to not only meet, but exceed their clients' and candidates' expectations. They are committed to providing a complete medical recruitment solution to their North East network of clients across both public and private sectors.</p>
        <b>The specialist divisions that we cover are:</b>
        <ul>
        	<li>Anaesthetics</li>
            <li>A&E</li>
            <li>Consultants</li>
            <li>Medicine</li>
            <li>Surgery</li>
            <li>Paediatrics</li>
            <li>Psychiatry</li>
            <li>Obstetrics and Gynaecology</li>
            <li>Ophthalmology</li>
        </ul>
   
      </div>

   <div class="span1">&nbsp; </div>