<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head> 

 <%= content_for :banner do %>
 
  
   <div class="container">
       <div class="row">
         <div class="span12 banner">
            <img src="/assets/banner-parctitioners.png"/>
          </div>   
       </div>   
    </div> 
  
<%end%>

<aside id="sticky-social">
    <ul>
        <li><a href="https://www.facebook.com/uklocumdoctors" class="entypo-facebook" target="_blank"><i class="fa fa-facebook-f icon"></i><span>Facebook</span></a></li>

        <li><a href="https://twitter.com/UK_LocumDoctors" class="entypo-twitter" target="_blank"><i class="fa fa-twitter icon"></i><span>Twitter</span></a></li>

        <li><a href="https://plus.google.com/107996761245479311961" class="entypo-gplus" target="_blank"><i class="fa fa-google-plus icon"></i><span>Google+</span></a></li>

        <li><a href="https://www.linkedin.com/company/uk-locum-doctors-limted" class="entypo-linkedin" target="_blank"><i class="fa fa-linkedin icon"></i><span>LinkedIn</span></a></li>
        
        <li><a href="mailto:info@uklocumdoctors.co.uk" class="entypo-email" target="_blank"><i class="fa fa-envelope icon"></i><span>Email</span></a></li>
        
    </ul>
</aside>

<div class="container">
  <div class="sub-content">
    <p>Our registered General Practitioners (GPs) are fully qualified, experienced GPs from within the NHS. GPs provide a timely and effective care service and are used in a variety of settings such as Walk-In Centres, GP Surgeries. Home and Community Visits, Minor Injuries Units, Prison Healthcare and delivering Out of Hours services.</p>
  </div>
  <div class="content">
    <p><b>The broad GP scope of practice includes but is not limited to:</b></p>
    <ul class="list">
      <li>Advanced assessment and diagnostics</li>
      <li>Complex medical problems</li>
      <li>Medication management</li>
      <li>Emergency life support</li>
      <li>Telephone triage</li>
      <li>Home visiting</li>
      <li>Prescribing medications</li>
      <li>Social assessment referrals</li>
    </ul>
  </div>
  <div class="clear"></div>
  <hr/>
  <div class="content">
    <p>As a leading locum agency we can offer some of the best rates of pay on the market and our candidates will benefit from the assistance of a highly trained team of specialist GP recruitment consultants who have in depth knowledge and experience with this specialist marketplace.</p>
    <p>Our candidates and clients also benefit from our 24/7 out of hours service,
which means that assistance is always available.</p>
  </div>
</div>

   <div class="span1">&nbsp; </div>