<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<%= content_for :banner do %>
   <div class="container">
       <div class="row">
         <div class="span12 banner">
            <img src="/assets/banner-settings.png"/>
          </div>   
       </div>   
    </div>
<%end%>

<%= content_for :content do %>
   <div class="container">
    <div class="main-content">
 
        <h2 class='blue_color'>UK Locum Doctors & Nurses</h2>
        <p>UK Locum Doctors is a specialist medical Locum Recruitment Company established by a team of Doctors and Business professionals. We are one of the leading locum agencies in the North East of England supplying locum GPs, Nurse Practitioners and Practice Nurses to primary care.</p>
        
        <p>We pride ourselves on providing a personalised and responsive service, incorporating value for money and a firm understanding of your needs. These adopted values ensure we instil our clients with the confidence to meet their staffing solutions whilst reassuring our locums that they are with a service that puts them first.</p>

        <p>Our clients include PCTs, Acute NHS Trusts, NHS and private GPs, HM Prisons, Out of Hours Services.</p>
    
    </div>
</div>
 <%end%>

<aside id="sticky-social">
    <ul>
        <li><a href="https://www.facebook.com/uklocumdoctors" class="entypo-facebook" target="_blank"><i class="fa fa-facebook-f icon"></i><span>Facebook</span></a></li>

        <li><a href="https://twitter.com/UK_LocumDoctors" class="entypo-twitter" target="_blank"><i class="fa fa-twitter icon"></i><span>Twitter</span></a></li>

        <li><a href="https://plus.google.com/107996761245479311961" class="entypo-gplus" target="_blank"><i class="fa fa-google-plus icon"></i><span>Google+</span></a></li>

        <li><a href="https://www.linkedin.com/company/uk-locum-doctors-limted" class="entypo-linkedin" target="_blank"><i class="fa fa-linkedin icon"></i><span>LinkedIn</span></a></li>
        
        <li><a href="mailto:info@uklocumdoctors.co.uk" class="entypo-email" target="_blank"><i class="fa fa-envelope icon"></i><span>Email</span></a></li>
        
    </ul>
</aside>

<div class="span4 register_box">
      <h3 class='blue_color'><img src="/assets/register_icon.png"/> Register With Us</h3>
      <div class="box-bg">
        <p class="big-font"><b>To register with us,</b>
        <br/> 
         please call <b>07810444140</b> or <b>07725443191 </b>and speak to one of our experienced consultants.
        </p>
        <p  class="big-font">Alternatively, you can email your CV to <a href="mailto:info@uklocumdoctors.co.uk" class="link">info@uklocumdoctors.co.uk</a> and we will respond to you as quickly as we can.</p>
        &nbsp;
         <a href="/register" class="btn btn-success  btn-register">Register with us online!</a> 
      </div> 
</div>
<div class="span4 avialability">
      <h3 class='blue_color'><img src="/assets/calender-icon.png"/> Availability Planner</h3>
      <div class="box-bg_calender">
        <p>Keep us updated on your availability</p>
        <p> <img src="/assets/calender.jpg"  class="span4  calender-img"/> </p>
        </br/>
        <%= link_to "Click to Proceed", new_user_session_path, :class=> "btn btn-success button  button-register" %> 
      </div>
</div>

<div class = "span3 twitter-height">
   <a class="twitter-timeline" href="https://twitter.com/UK_LocumDoctors?ref_src=twsrc%5Etfw">Tweets by UK_LocumDoctors</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
<div class="clear"></div>
<div class="refer-friend">
      <h3 class='blue_color'><img src="/assets/friends-icon.png"/> Refer a Friend Scheme</h3>
        <p class="refer-font">We offer £250 every time you recommend a friend or colleague to us who meets our recruitment requirement and then works through us. There is no limit to the number of £250 bonuses you can earn for successful referrals.
        </p>
         <p class="refer-font"><b>The bonus scheme works like this:</b></p>
         <p class="refer-font">Send us the name and contact details of a friend or colleague and once they have completed 48 hours of work through us you receive your £250 bonus. </p>
          <p class="refer-font">Alternatively, your friend or colleague can contact us directly and quote your name as the referring person and you will still receive the bonus.</p>
        
</div>
    
<div class="right span3">
 
</div>

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


  