<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
 <%= content_for :banner do %>
 
 
   <div class="container">
       <div class="row">
         <div class="span12 banner">
            <img src="/assets/banner.png"/>
          </div>   
       </div>   
    </div>    
<%end%>

<aside id="sticky-social">
    <ul>
        <li><a href="https://www.facebook.com/uklocumdoctors" class="entypo-facebook" target="_blank"><i class="fa fa-facebook-f icon"></i><span>Facebook</span></a></li>

        <li><a href="https://twitter.com/UK_LocumDoctors" class="entypo-twitter" target="_blank"><i class="fa fa-twitter icon"></i><span>Twitter</span></a></li>

        <li><a href="https://plus.google.com/107996761245479311961" class="entypo-gplus" target="_blank"><i class="fa fa-google-plus icon"></i><span>Google+</span></a></li>

        <li><a href="https://www.linkedin.com/company/uk-locum-doctors-limted" class="entypo-linkedin" target="_blank"><i class="fa fa-linkedin icon"></i><span>LinkedIn</span></a></li>
        
        <li><a href="mailto:info@uklocumdoctors.co.uk" class="entypo-email" target="_blank"><i class="fa fa-envelope icon"></i><span>Email</span></a></li>
        
    </ul>
</aside> 

<div class="container">
  <div class="sub-content" >
    <p>Our Registered Practice Nurses (PNs) are typically made up of either Practice Nurses or Advanced Nurse Practitioners (ANPs) who have come from a Practice Nursing background and then developed their skills further.
    </p>
    <p>The experienced professionals generally come from GP Practices and Walk-In Centres within the NHS. PN’s provide timely and effective care and are used in a variety of settings such as Walk-In Centres and GP Surgeries.</p>
  </div>

  <div class="content">
    <p><b>The PN scope of practice includes but is not limited to:</b></p>
      <ul class="nurse-info">
        <li>Sexual health and family planning clinics</li>
        <li>Cytology</li>
        <li>Chronic disease management</li>
        <li>Travel clinics</li>
        <li>Treatment room duties</li>
        <li>Baby and adult immunisations</li>
        <li>Ear Checks / Irrigation</li>
        <li>Health and well-being checks in the community</li>
      </ul>
  </div>
  <hr/>
  <div class="content">
    <p><b>UK Locum Doctors now specializes in the provision of specialist nursing vacancies for registered nurses and healthcare assistants for both temporary and permanent placement within the following areas:</b></p>
    <ul class="nurse-info">
      <li>NHS Trusts</li>
      <li>Private hospitals</li>
      <li>Nursing and residential homes</li>
      <li>General Practice</li>
      <li>HMP Prison services</li>
      <li>Mental health and learning disability environments</li>
    </ul>
  </div>
</div>
   <div class="span1">&nbsp; </div>
