 <head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

 <%= content_for :banner do %>
    <div class="container">
       <div class="row">
         <div class="span12 banner">
            <img src="/assets/banner-details.png"/>
          </div>   
       </div>   
    </div>  
    
<%end%> 

<aside id="sticky-social">
    <ul>
        <li><a href="https://www.facebook.com/uklocumdoctors" class="entypo-facebook" target="_blank"><i class="fa fa-facebook-f icon"></i><span>Facebook</span></a></li>

        <li><a href="https://twitter.com/UK_LocumDoctors" class="entypo-twitter" target="_blank"><i class="fa fa-twitter icon"></i><span>Twitter</span></a></li>

        <li><a href="https://plus.google.com/107996761245479311961" class="entypo-gplus" target="_blank"><i class="fa fa-google-plus icon"></i><span>Google+</span></a></li>

        <li><a href="https://www.linkedin.com/company/uk-locum-doctors-limted" class="entypo-linkedin" target="_blank"><i class="fa fa-linkedin icon"></i><span>LinkedIn</span></a></li>
        
        <li><a href="mailto:info@uklocumdoctors.co.uk" class="entypo-email" target="_blank"><i class="fa fa-envelope icon"></i><span>Email</span></a></li>
        
    </ul>
</aside>

<div class="span1"> &nbsp;</div>
<div class="span10"> 
    	<p>To register with us, please call<span class="red"> 07810444140 / 07725443191 / 0191 270 5119</span> and talk with one of our experienced consultants. You can also email your CV to  <a href="mailto:tracy@uklocumdoctors.co.uk">tracy@uklocumdoctors.co.uk</a> who will be in touch as quickly as possible.</p>



            <%= link_to "Register as Doctor", new_doctor_path, :remote => true, :class => "btn btn-success" %>
            <%= link_to "Register as Nurse practitioner", new_nurse_practitioner_path, :remote => true, :class => "btn btn-success"    %>	
            <%= link_to "Sign in", new_user_session_path,   :class => "btn btn-success"    %>
       
</div>
  
      </div>

   <div class="span1">&nbsp; </div>

<div id="new-object">

</div>
 <br />
<br />
<br />
<br />
<br />
<br />
<br />
<br /><br />
<br />
<br />
<br />