<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<%= content_for :banner do %>
 

    <div class="container">
       <div class="row">
         <div class="span12 banner">
            <img src="/assets/banner-details.png"/>
          </div>   
       </div>   
    </div> 

<%end%>
<aside id="sticky-social">
    <ul>
        <li><a href="https://www.facebook.com/uklocumdoctors" class="entypo-facebook" target="_blank"><i class="fa fa-facebook-f icon"></i><span>Facebook</span></a></li>

        <li><a href="https://twitter.com/UK_LocumDoctors" class="entypo-twitter" target="_blank"><i class="fa fa-twitter icon"></i><span>Twitter</span></a></li>

        <li><a href="https://plus.google.com/107996761245479311961" class="entypo-gplus" target="_blank"><i class="fa fa-google-plus icon"></i><span>Google+</span></a></li>

        <li><a href="https://www.linkedin.com/company/uk-locum-doctors-limted" class="entypo-linkedin" target="_blank"><i class="fa fa-linkedin icon"></i><span>LinkedIn</span></a></li>
        
        <li><a href="mailto:info@uklocumdoctors.co.uk" class="entypo-email" target="_blank"><i class="fa fa-envelope icon"></i><span>Email</span></a></li>
        
    </ul>
</aside>
<div class="container"> 
    <div class="sub-content">   	
        <p>UK Locum Doctors Ltd is committed to setting standards in the provision of locum staffing. We follow stringent recruitment criteria and carry out thorough background checks to ensure that education, training and current practice is at a level our clients demand and expect.</p>
        <p> In addition to our stringent recruitment criteria, thorough background checks and current NHS Employment Check Standards all our registered GPs / NPs must also provide:</p>
    </div> 
    <div class="content">   
        <div class="setting-list-box left"> 
            <h4 class="blue_color">GPs</h4>
            <ul>
            	<li>GMC Certificate and Registration Check</li>
                <li>GP Qualification (PMETB/CCT/JCPTGP)</li>
                <li>Original Medical Qualification</li>
                <li>Enhanced DBS Checks</li>
                <li>Performers List Details</li>
                <li>Specialist Courses (e.g. IDU fitting)</li>
                <li>Proof of Indemnity (MDU or other)</li>
                <li>Safeguarding Children / Child Protection</li>
                <li>Basic/Advanced Life Support</li>
            </ul>

        </div>    
        <div class="setting_list-right-box">
            <h4 class="blue_color">Nurse Practitioners</h4>
            <ul>
            	<li>Photographic ID and Identity Checks</li>
                <li>Reference Checks</li>
                <li>Right to Work Checks</li>
                <li>Occupational Health Checks</li>
                <li>Enhanced DBS Checks</li>
                <li>Qualifications and Registration Checks</li>
            </ul>
        </div>
    </div>    
    <div class="clear"> </div>    
    </div>
</div>
   <div class="span1">&nbsp; </div>