
= simple_form_for(@doctor, :url => admin_doctor_path(@doctor),  :remote => true) do |f|
  = render "fields", {:f => f}
  = f.button :submit, "Update Doctor", :class => 'save-btn ', :disable_with => 'Saving...'


