.clearfix
  .left.gap_right= f.input :name
  .left.gap_right= f.input :email
  .left= f.input :username
.clearfix
  .left.gap_right= f.input :password
  .left= f.input :password_confirmation

.left
  = f.fields_for :profile do |pro|
    .left.gap_right= pro.input :organisation
    .left.gap_right= pro.input :telephone_day, :label => "Telephone (Day)"
    .left= pro.input :telephone_night, :label => "Telephone (Night)"
    .clear
    .left.gap_right= pro.input :mobile
    .left= pro.input :fax
    .clear
    .left.gap_right= pro.input :speciality
    .left= pro.input :qualification
    .clear
    .left.gap_right= pro.input :address,  :input_html => { :class => 'description' }
    .left= pro.input :other_information,  :input_html => { :class => 'description' }
    .clear

.clear