= simple_form_for(@doctor, :url => admin_doctors_path,  :remote => true) do |f|
  = render "fields", { :f => f }
  = f.button :submit, "Create Doctor", :class => 'save-btn', :disable_with => 'Saving...'

