$('#doctor').html("<%= escape_javascript(render :partial => '/admin/doctors/edit_form' )%>").dialog({ zIndex: 3000, width: "70%", title: "Edit - <%= @doctor.name %>", modal: true , resizable: false});
 
