%ul.breadcrumb
  %li.title 
    Listing doctors
  %li.active.right Doctors  
  %li.right
    Admin
    = divider

= form_for(@search, :url => admin_doctors_path, :html => { :class => 'form-search' }) do |f|
  %table.table.table-bordered.search_table 
    %tbody
      %tr
        %td= f.text_field :name_contains, :placeholder => "Name contains"
        %td= f.text_field :profile_mobile_contains, :placeholder => "Mobile"
        %td
          = icon_button("Search", 'icon-search', 'btn')
          .right= link_to new_text('Doctor'), new_admin_doctor_path, :remote => true , :class => 'btn btn-success'
 
%table.table.table-bordered
  %thead
    %tr
      %th Name
      %th Username
      %th mobile
      %th Address
      %th
 
  %tbody
    - @doctors.each do |doctor|
      %tr 
        %td= doctor.name
        %td= doctor.username
        %td= doctor.profile.mobile
        %td= doctor.profile.address
        %td.width27per
          = link_to "Details", admin_doctor_path(doctor), :class => 'btn btn-mini'
          = link_to edit_text(), edit_admin_doctor_path(doctor), :class => 'btn btn-mini', :remote => true  
          = link_to "Schedules", user_schedules_path(doctor), :class => 'btn btn-info btn-mini'
          = link_to "Locations", user_locations_path(doctor), :class => 'btn btn-info btn-mini'
          = link_to "Delete", admin_doctor_path(doctor), :method => :delete, :confirm => "Are you sure? ", :class => 'btn btn-danger btn-mini'



= will_paginate(@doctors)

#doctor
