%ul.breadcrumb
  %li.title 
    = @doctor.name
  %li.active.right= @doctor.name  
  %li.right
    Doctors
    = divider   
  %li.right
    Admin
    = divider

.pull-left
  %h2 Details
.pull-right
  = link_to edit_text(), edit_admin_doctor_path(@doctor), :class => 'btn btn-info', :remote => true  
  = link_to "Doctor Lists", admin_doctors_path, :class => 'btn'

.clearfix    

%table.table.table-bordered
  
  %tr
    %th Name
    %td= @doctor.name
  %tr
    %th Email
    %td= @doctor.email
  %tr
    %th UserName
    %td= @doctor.username
  %tr
    %th speciality
    %td=@doctor.profile.speciality rescue ""
  %tr
    %th qualification
    %td=@doctor.profile.qualification rescue ""
  %tr
    %th Organisation
    %td=@doctor.profile.organisation rescue ""
  %tr
    %th Telephone day 
    %td=@doctor.profile.telephone_day  rescue ""
  %tr
    %th Telephone night
    %td= @doctor.profile.telephone_night  rescue ""
  %tr
    %th Mobile
    %td= @doctor.profile.mobile rescue ""
  %tr
    %th Fax
    %td=@doctor.profile.fax rescue ""

  %tr
    %th Address
    %td=@doctor.profile.address rescue ""
  %tr
    %th Other information
    %td=@doctor.profile.other_information  rescue ""

#doctor