 <p> Booked at <%= @location%>, on <%= @schedule_time %> for <%= @notes.to_s%>  Deleted By 
 <% if @t == "admin" %>	
   <%= @name %>
 <% elsif @t == "nurse" %>
    <%= link_to @name, "http://www.uklocumdoctors.co.uk/admin/staffs/#{@user_id}"%> 
  <%else%>
	<%= link_to @name, "http://www.uklocumdoctors.co.uk/admin/doctors/#{@user_id}"%>
  <%end%>	

</p> 
