
<p>
  Dear
  <%= @user.name %>,
</p>

  
  <% @schedules.each do |schedule|   %>
    <p> Booked at <%= schedule.location.name rescue ""%>, on <%= schedule.schedule_start.to_date.strftime("%d/%m/%Y").to_s %> for <%= schedule.notes.to_s%> </p> 
 <%end%>
 

<p> <b> 
  UK LOCUM DOCTORS & NURSES  <br />
07725443191 </b> </p>