<p> Member details of <<%= @name %>> updated. <% if @t == "nurse" %>
    <%= link_to "click to view details", "http://www.uklocumdoctors.co.uk/admin/staffs/#{@user_id}"%> 
  <%else%>
	<%= link_to "click to view details", "http://www.uklocumdoctors.co.uk/admin/doctors/#{@user_id}"%>
  <%end%>	

</p>  