<% if @t == 'doctor' %>
  <p> New member registered. <%= link_to "click to view details", "http://www.uklocumdoctors.co.uk/admin/doctors/#{@user_id}"%></p>
<%else%>  
  <p> New member registered. <%= link_to "click to view details", "http://www.uklocumdoctors.co.uk/admin/staffs/#{@user_id}"%></p>
<%end%>