= simple_form_for([@user, @schedule], :remote => true) do |f|

  = f.input :notes, :input_html =>  { :class => "input-xxlarge", :rows => 2}
  .pull-left.gap_right= f.input :location_id, :as => :select, :collection => @locations
  .pull-left.margin-top-30= link_to "<i>+ add new Location<i>".html_safe, new_user_location_path(@user, :from => "schedule"), :remote => true
  .clearfix
  %hr

  .pull-left.gap_right= f.input :schedule_start, :as => :string, :input_html => { :value => ( @schedule.schedule_start_time rescue nil)}
  .pull-left= f.input :schedule_end, :as => :string, :input_html => { :value => ( @schedule.schedule_end_time rescue nil)}
  .clearfix
  

  = f.submit "Schedule", :class => "save-btn"