- unless @schedule.location_id.blank?
  %p
    %b Location :
    = @schedule.location.name
%p
  %b Schedule :
  = @schedule.schedule_from_to

%p
  %b Notes :
  = @schedule.notes



- if current_user.admin? || @schedule.practitioner_id == current_user.id
  = link_to "Edit", edit_user_schedule_path(@user, @schedule.id), :class => 'btn', :remote => true
  = link_to "Delete", user_schedule_path(@user, @schedule.id), :method => :delete, :confirm => "Are you sure?", :class => 'btn btn-danger', :remote => true

