<% if @schedule.errors.blank? %>
  $("#new-object").dialog("destroy");
  var event = $.parseJSON("<%= escape_javascript @schedule.to_fullcalender.to_json.html_safe %>");
  $('#calendar').fullCalendar('renderEvent', event);
<%else%>
  $("#new-object").html("<%= escape_javascript(render :partial => '/schedules/form' )%>").dialog({ zIndex: 3000, width: "70%", title: 'New Schedule', modal: true, resizable: false });
  schedule_date_picker();
<%end%>