= hidden_field_tag("date_picked")

#calendar



#new-object
#new-location
#schedule_details


= content_for :extra_javascript do  
  %script
    var user_id = "#{@user.id}";
    displaycalender();
    $("#datepicker").datepicker({dateFormat: 'dd-mm-yy', changeMonth: true, changeYear: true, altFormat: "dd-mm-yy",altField: "#date_picked", onSelect: function(dateText, dp) { list_schedules();   } });