

$("#new-object").html("<%= escape_javascript(render :partial => '/schedules/form' )%>").dialog({ zIndex: 3000, width: 600, title: 'New Schedule', modal: true, resizable: false });
schedule_date_picker();


$("select#schedule_location_id").val($("select#locations").val());