<% if @schedule.errors.blank? %>
  $("#new-object").dialog("destroy");
  $("#schedule_details").html("<%= escape_javascript(render :partial => '/schedules/show' )%>").dialog({ zIndex: 3000, width: 600, title: 'Schedule Details', modal: true, resizable: false });


   var c = $("#calendar").fullCalendar( 'clientEvents' , "schedule-<%= @schedule.id.to_s %>" );
   var event = c[0];
   event.title = "<%= @schedule.notes.to_s %>";
   event.start =  "<%= @schedule.schedule_start.iso8601 %>";
   event.end = "<%= @schedule.schedule_end.iso8601 %>";
   $('#calendar').fullCalendar('updateEvent', event);


<%else%>
  $("#new-object").html("<%= escape_javascript(render :partial => '/schedules/form' )%>").dialog({ zIndex: 3000, width: "70%", title: 'New Schedule', modal: true, resizable: false });
  schedule_date_picker();
<%end%>