.navbar.navbar-fixed-top
  .navbar-inner
    .container
      .pull-left
        .pull-left= link_to image_tag("/assets/locum-logo-small.png"), root_path  
        %ul.nav.pull-left
          %li= link_to "Doctors", admin_doctors_path
          %li= link_to "Nurse practitioner", admin_staffs_path

      
 
      .right
        %ul.nav.main_links
          - if current_user
            %li= link_to "Website", root_path
            %li= link_to "<i class='icon-off icon-white'></i> Log out".html_safe, destroy_user_session_path, :method => :delete, :class => 'logout'
          - else
            %li= link_to "Sign in", new_user_session_path

      .clearfix