%ul.nav.nav-list.bs-docs-sidenav
  %li= link_to '<i class="icon-chevron-right"></i>Doctors'.html_safe, admin_doctors_path
  %li= link_to '<i class="icon-chevron-right"></i> Nurse practitioner'.html_safe, admin_staffs_path
  