.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to image_tag("/assets/locum-logo-small.png"), root_path
      .right
        %ul.nav.main_links
          - if current_user
            -if current_user.doctor? || current_user.staff?
              %li= link_to "Locations", "#" 
            %li= link_to "<i class='icon-off icon-white'></i> Log out".html_safe, destroy_user_session_path, :method => :delete, :class => 'logout'
          - else
            %li= link_to "Register as doctor", new_doctor_path, :remote => true
            %li= link_to "Register as nurse practitioner", new_nurse_practitioner_path, :remote => true
            %li= link_to "Sign in", new_user_session_path

        #new-object
