.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to image_tag("/assets/locum-logo-small.png"), root_path
      .right
        %ul.nav.main_links
          - if current_user
            %li= link_to "Website", root_path
            -if current_user.admin?
              %li= link_to "Admin", admin_root_path

            - if current_user.doctor_or_staff?
              - if current_user.doctor?
                %li= link_to "Edit Profile", edit_doctor_path(current_user) ,:remote => true
              -else
                %li= link_to "Edit Profile", edit_nurse_practitioner_path(current_user), :remote => true

            -if current_user.admin? || current_user.doctor_or_staff?
              %li= link_to "Schedules", user_schedules_path(@user)
              %li= link_to "Locations", user_locations_path(@user)
            %li= link_to "<i class='icon-off icon-white'></i> Log out".html_safe, destroy_user_session_path, :method => :delete, :class => 'logout'
          - else
            %li= link_to "Sign in", new_user_session_path

#edit-form