
= simple_form_for(@staff, :url => admin_staff_path(@staff),  :remote => true) do |f|
  = render "/admin/doctors/fields", { :f => f }
  = f.button :submit, "Update Staff", :class => 'save-btn', :disable_with => 'Saving...'
