= simple_form_for(@staff, :url => admin_staffs_path,  :remote => true) do |f|
  = render "/admin/doctors/fields", { :f => f }
  = f.button :submit, "Create Staff", :class => 'save-btn', :disable_with => 'Saving...'

