$('#staff').html("<%= escape_javascript(render :partial => '/admin/staffs/edit_form' )%>").dialog({ zIndex: 3000, width: "70%", title: 'Edit - <%= @staff.name %>', modal: true , resizable: false});
 
