%ul.breadcrumb
  %li.title 
    Listing nurse practitioners
  %li.active.right nurse practitioners
  %li.right
    Admin
    = divider 

= form_for(@search, :url => admin_staffs_path, :html => { :class => 'form-search' }) do |f|
  %table.table.table-bordered 
    %tbody
      %tr
        %td= f.text_field :name_contains, :placeholder => "Name contains"

        %td= f.text_field :profile_mobile_contains, :placeholder => "Mobile"
        %td
          = f.submit "search", :class => 'btn'
          = link_to new_text('staff'), new_admin_staff_path, :remote => true , :class => 'btn btn-primary'




%table.table.table-bordered
  %thead
    %tr
      %th Name
      %th Email
      %th mobile
      %th Address
      %th
  %tbody
    - @staffs.each do |staff|
      %tr 
        %td= staff.name
        %td= staff.email
        %td= staff.profile.mobile
        %td= staff.profile.address

        %td
          = link_to "Details", admin_staff_path(staff), :class => 'btn btn-mini'
          = link_to edit_text(), edit_admin_staff_path(staff), :class => 'btn btn-mini', :remote => true
          = link_to "Schedules", user_schedules_path(staff), :class => 'btn btn-info btn-mini'
          = link_to "Locations", user_locations_path(staff), :class => 'btn btn-info btn-mini'
          = link_to "Delete", admin_staff_path(staff), :method => :delete, :confirm => "Are you sure? ", :class => 'btn btn-danger btn-mini'

= will_paginate(@staffs)        
#staff
