%ul.breadcrumb
  %li.title 
    = @staff.name
  %li.active.right= @staff.name  
  %li.right
    staffs
    = divider   
  %li.right
    Admin
    = divider

.pull-left
  %h2 Details
.pull-right
  = link_to edit_text(), edit_admin_staff_path(@staff), :class => 'btn btn-info', :remote => true  
  = link_to "staff Lists", admin_staffs_path, :class => 'btn'

.clearfix    

%table.table.table-bordered
  
  %tr
    %th Name
    %td= @staff.name
  %tr
    %th Email
    %td= @staff.email
  %tr
    %th UserName
    %td= @staff.username
  %tr
    %th speciality
    %td=@staff.profile.speciality rescue ""
  %tr
    %th qualification
    %td=@staff.profile.qualification rescue ""
  %tr
    %th Organisation
    %td=@staff.profile.organisation rescue ""
  %tr
    %th Telephone day 
    %td=@staff.profile.telephone_day  rescue ""
  %tr
    %th Telephone night
    %td= @staff.profile.telephone_night  rescue ""
  %tr
    %th Mobile
    %td= @staff.profile.mobile rescue ""
  %tr
    %th Fax
    %td=@staff.profile.fax rescue ""

  %tr
    %th Address
    %td=@staff.profile.address rescue ""
  %tr
    %th Other information
    %td=@staff.profile.other_information  rescue ""

#staff