 <head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<div class="span5 offset3">
<h2>Sign in</h2>


<aside id="sticky-social">
    <ul>
        <li><a href="https://www.facebook.com/uklocumdoctors" class="entypo-facebook" target="_blank"><i class="fa fa-facebook-f icon"></i><span>Facebook</span></a></li>

        <li><a href="https://twitter.com/UK_LocumDoctors" class="entypo-twitter" target="_blank"><i class="fa fa-twitter icon"></i><span>Twitter</span></a></li>

        <li><a href="https://plus.google.com/107996761245479311961" class="entypo-gplus" target="_blank"><i class="fa fa-google-plus icon"></i><span>Google+</span></a></li>

        <li><a href="https://www.linkedin.com/company/uk-locum-doctors-limted" class="entypo-linkedin" target="_blank"><i class="fa fa-linkedin icon"></i><span>LinkedIn</span></a></li>
        
        <li><a href="mailto:info@uklocumdoctors.co.uk" class="entypo-email" target="_blank"><i class="fa fa-envelope icon"></i><span>Email</span></a></li>
        
    </ul>
</aside>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'well form-horizontal' }) do |f| %>

	<% if flash[:alert] %>
	  <div class="alert alert-error">
	    <a class="close" data-dismiss="alert" href="#">×</a>
		<%= flash[:alert]  %>
	  </div>
    <%end%>

   <div class='control-group'>
  	 <%= f.label :username, :class => 'control-label' %>
  	 <div class="controls">
 	 	<%= f.text_field :username %>
 	 </div>
   </div>

  <div class='control-group'>
  	 <%= f.label :password, :class => 'control-label'  %>
  	 <div class="controls">
  	 	<%= f.password_field :password %>
  	 </div>	
  </div>

  <% if devise_mapping.rememberable? -%>

   <div class='control-group'>
	  	 <%= f.label :remember_me, :class => 'control-label' %>
	  	 <div class="controls">
	 	 	<%= f.check_box :remember_me %>
	 	 </div>
	   </div>
  <% end -%>
 
  <div style="float:right"><%= f.submit "Sign in", :class => 'btn btn-info' %>

 
  </div>
  <div class='clear'> </div>
<% end %>
 <%= link_to "Forgot your password?", new_password_path(resource_name) , :class => 'btn btn-primary'%>
 <%= link_to "Register Here", "/register" , :class => 'btn btn-primary'%>
 
</div>