
= simple_form_for(@doctor, :url => doctor_path(@doctor),  :remote => true) do |f|
  = render "/admin/doctors/fields", {:f => f}
  = f.button :submit, "Save", :class => 'save-btn ', :disable_with => 'Saving...'


