= simple_form_for(@doctor, :url => doctors_path,  :remote => true) do |f|
  = render "/admin/doctors/fields", { :f => f }
  = f.button :submit, "Register", :class => 'save-btn', :disable_with => 'Saving...'

