<% if @doctor.errors.blank? %>
   window.location.href =   "<%= user_schedules_path(@doctor) %>"
<%else%>
  $('#new-object').html("<%= escape_javascript(render :partial => '/doctors/new_form' )%>");
<%end%>
