.right { float: right; }
.left { float: left; }
.clear { clear: both;}
.doctor_color_code { width:20px; height:20px;display:block;background:#BB9F9F;border: 1px solid grey;margin-bottom:5px;}

.description {height:40px;}
.gap_right{padding-right: 15px;}
hr.seperator{margin: 10px 0px;}

.content_body { margin: 0px; width:900px;}

.save-btn {
  background-color: hsl(203, 66%, 36%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3397d5", endColorstr="#1f6998");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#3397d5), to(#1f6998));
  background-image: -moz-linear-gradient(top, #3397d5, #1f6998);
  background-image: -ms-linear-gradient(top, #3397d5, #1f6998);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3397d5), color-stop(100%, #1f6998));
  background-image: -webkit-linear-gradient(top, #3397d5, #1f6998);
  background-image: -o-linear-gradient(top, #3397d5, #1f6998);
  background-image: linear-gradient(#3397d5, #1f6998);
  border-color: #1f6998 #1f6998 hsl(203, 66%, 32%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.26);
  -webkit-font-smoothing: antialiased;
  padding: 11px 19px;
}

#datepicker { margin-bottom: 20px;}

h2.name { color: #6599E0;}