/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require jquery-ui
 
 *= require comman
 *= require jquery-ui-timepicker-addon.css
 
 */

@font-face
{
  font-family: "LUCIDA GRANDE";
  src: url('/assets/lucida_grande.ttf')
 
} 

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.2.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

 body {

  padding-top: 0px;
  font-family: "LUCIDA GRANDE", arial;
  font-size: 13px;
  border: 15px solid  #6495ed;
  border-radius: 10px;
  background-color: #eef7fa;
}

 .banner-wrapper{width:100%;background: none repeat scroll 0 0 #DCE4F4;margin:0 auto;}

 .top_bar {margin-top: 20px; margin-bottom: 20px; }
 .top-contact h5{margin-top: 0px;  }
 .banner {
    background: none repeat scroll 0 0 #DCE4F4;
    padding: 0;
 
}
.middile-box{margin-left:8em;}
.calender-img{margin-left:0em;margin-top:-15px;}
.big-font{text-align:left;}
.top-contact h5{color:#4f4f4f;margin: 0px;font-size:14px;}
.top-contact p{font-size:13px;margin-bottom:2px;color:#727272;margin-bottom:-2px;}
.top-contact a{color:#CC292A; font-size:13px;text-decoration:none;margin-bottom:-2px;}      
.right { float: right; }
.left { float: left; }
.navbar {
    
    margin-bottom: 0px;
    }
.banner img{width: 100%; height: 165px}
.button-register{width:250px;margin-top:0.5em;}
.main-content {
    background: none repeat scroll 0 0 #F2F2F2;
    border-top: 1px solid #CCCCCC;
    box-shadow: 0 3px 2px rgba(50, 50, 50, 0.19);
    margin-bottom: 30px;
    padding: 10px 20px;
}
.sub-content{background: none;
   
    border-bottom:1px solid #EEEEEE;
    margin-bottom: 10px;
    padding: 20px 20px 15px 20px;
    margin-top:0px;}
.content{padding: 10px 20px 15px 20px;}
.content p{font-size:14px;line-height:28px;}
.nurse-info{font-size:14px;}

.sub-content p{font-size:14px;line-height:28px;}
.text-content{font-size:14px;line-height:28px;}
.main-content p{font-size: 14px;}
.footer {
    background: none repeat scroll 0 0 #F2F2F2;
    border-top: 1px solid #CCCCCC;
    color: #727272;
    font-size: 12px;
    padding: 10px 0;
    margin-top: 30px;
    text-align: left;
}

h3.blue_color, h4.blue_color  { color: #114A99;  font-size: 20px; font-weight: normal; }

h2.blue_color { 
	color: #114A99;
    font-size: 18px;
    font-weight: bold;
}

.btn-register{width:200px;margin-left:-0.5em;margin-top:35px;}
 
.button {width:200px;}
.navbar .nav > li > a { padding: 10px 5px 10px 5px}
 /* Customize the navbar links to be fill the entire space of the .navbar */
      .navbar .navbar-inner {
        padding: 0;
      }
      .navbar .nav {
        margin: 0;
        display: table;
        width: 100%;
      }
      .navbar .nav li {
        display: table-cell;
        width: 1%;
        float: none;
      }
      .navbar .nav li a {
        font-weight:normal;
        font-size: 13px;
        text-align: center;
        border-left: 1px solid ;
        border-right: 1px solid;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        color: #FFFFFF;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
      }
      .navbar .nav li:first-child a {
        border-left: 0;
        border-radius: 3px 0 0 3px;
      }
      .navbar .nav li:last-child a {
        border-right: 0;
        border-radius: 0 3px 3px 0;
      }



.content-list{margin-top:5px;}
p{ text-align:justify;line-height:25px; }

.container .pull-left p  {line-height:10px; }
.red { color: red;} 



.navbar-inner{background-color: #363636;  /*#363636*/
    color: #ffffff;
    width: 100%;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #363636;  /*#363636*/
background-image: -moz-linear-gradient(top, #444444, #222222);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
background-image: -webkit-linear-gradient(top, #444444, #222222);
background-image: -o-linear-gradient(top, #444444, #222222);
background-image: linear-gradient(to bottom, #444444, #222222);
background-repeat: repeat-x;
border-color: #222222 #222222 #000000;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
filter: progid:DXImageTransform.Micr}

  .navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    background-color: #222222;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125) inset;
    text-decoration: none;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);}

    .navbar .nav li a:hover{
    background-color: #222222;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125) inset;
    text-decoration: none;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    }
    .refer-friend{padding: 0px 20px;border-top:1px solid #ddd;padding-bottom:20px;}
    .box-bg{padding:10px 20px 0px 0px;border-radius: 4px 4px 4px 4px;width:350px;height:230px;margin-bottom:20px;}
    .box-bg_calender{padding:0px 20px 0px 0px;border-radius: 4px 4px 4px 4px;margin-bottom:30px;height:230px;}
    .box-bg_calender p{font-size:13px;margin-bottom:30px;margin-top:-10px;font-weight:bold;}
    .avialability{}
    .register_box{}
    .twitter-height{max-height: 300px;
    overflow-y: scroll;border-left: 1px solid #ccc; padding-left: 5px;}
    .refer-font{ font-size: 14px;
    line-height: 25px;
    margin-bottom: 0px}
    .box{ padding:0px 20px;border-radius:3px ;margin-right:-4em;}
    .left-box{margin-left:10em;}
    .list-box{background:#def0ff;width:600px;padding:10px 10px 5px 10px;border-radius:5px ;border:1px solid #cbe5fa;}
    .list-box p{color:#464f57;font-weight:bold;}
    .list-box ul{color:#505b63;font-size:13px;}
    .list-right-box ul{color:#505b63;font-size:13px;}
    .list-right-box p{color:#464f57;font-weight:bold;}
    .list-right-box{background:#def0ff;width:400px;float:right;
                    padding:15px 15px 20px 15px;
                    border:1px solid #cbe5fa;
                      border-radius:5px ;}
    .left-list{width:350px;float:left;}
    .right-list{width:200px;float:right;}
    .setting-list-box{background:#def0ff;width:400px;padding:10px 10px 5px 10px;border-radius:5px ;border:1px solid #cbe5fa;}
    .setting_list-right-box{background:#def0ff;width:400px;float:right;padding:15px 15px 60px 15px;border:1px solid #cbe5fa;border-radius:5px ;}    
}
     #link{font-size: 25px;}


/*Social Media Linking*/

@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
   font-family: "entypo", sans-serif;
}
a { 
   text-decoration: none;
}
ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

#sticky-social {
   left: 0;
   position: fixed;
   top: 240px;
}
#sticky-social a {
   background: #333;
   color: #fff;
   display: block;
   height: 35px;
   font: 16px "Open Sans", sans-serif;
   line-height: 35px;
   position: relative;
   text-align: center;
   width: 35px;
}
#sticky-social a span {
   line-height: 35px;
   left: -120px;
   position: absolute;
   text-align:center;
   width: 120px;
}
#sticky-social a:hover span {
   left: 100%;
}
#sticky-social a[class*="facebook"],
#sticky-social a[class*="facebook"]:hover,
#sticky-social a[class*="facebook"] span { background: #3b5998; }

#sticky-social a[class*="twitter"],
#sticky-social a[class*="twitter"]:hover,
#sticky-social a[class*="twitter"] span { background: #00aced; }

#sticky-social a[class*="gplus"],
#sticky-social a[class*="gplus"]:hover,
#sticky-social a[class*="gplus"] span { background: #dd4b39; }  

#sticky-social a[class*="linkedin"],
#sticky-social a[class*="linkedin"]:hover,
#sticky-social a[class*="linkedin"] span { background: #007bb6; }  

#sticky-social a[class*="email"],
#sticky-social a[class*="email"]:hover,
#sticky-social a[class*="email"] span { background: #696969; }  


.icon{
  padding-top: 10px;
}
