
= simple_form_for(@nurse, :url => nurse_practitioner_path(@nurse),  :remote => true) do |f|
  = render "/admin/doctors/fields", {:f => f}
  = f.button :submit, "Save", :class => 'save-btn ', :disable_with => 'Saving...'


