= simple_form_for(@nurse, :url => nurse_practitioners_path,  :remote => true) do |f|
  = render "/admin/doctors/fields", { :f => f }
  = f.button :submit, "Register", :class => 'save-btn', :disable_with => 'Saving...'

