<% if @nurse.errors.blank? %>
   window.location.href =   "<%= user_schedules_path(@nurse) %>"
<%else%>
  $('#new-object').html("<%= escape_javascript(render :partial => '/nurse_practitioners/new_form' )%>");
<%end%>
