<% if @nurse.errors.blank? %>
   window.location.href = window.location.href;  
<%else%>
  $('#edit-form').html("<%= escape_javascript(render :partial => '/nurse_practitioners/edit_form' )%>");

<%end%>
