%ul.breadcrumb
  %li.title 
    Listing Users
  %li.active.right Users
  %li.right
    Admin
    = divider

= form_for(@search, :url => admin_users_path, :html => { :class => 'form-search' }) do |f|
  %table.table.table-bordered.search_table 
    %tbody
      %tr
        %td= f.text_field :name_contains, :placeholder => "Name contains"
        %td
          = icon_button("Search", 'icon-search', 'btn')

%table.table.table-bordered
  %thead
    %tr
      %th Name
      %th Username
      %th mobile

      %th 

  %tbody
    - @users.each do |user|
      %tr 
        %td= user.name
        %td= user.username
        %td= user.profile.mobile

    - (1 .. 10-@users.count).each do
      %tr
        %td{:colspan => 6} &nbsp;    

 
