= simple_form_for([@user, @location], :remote => true) do |f|
  = f.input :name
  = f.input :address, :input_html =>  { :rows => 2}
  = f.input :contact
  = hidden_field_tag("from", params[:from])


  = f.submit "Save", :class => "save-btn", :disable_with =>  "Please Wait..."