<% if @location.errors.blank? %>
  $("#new-location").dialog("destroy");
  <% if params[:from] == "schedule" %>
    $('select#locations').append($("<option></option>").attr("value","<%= @location.id %>").text("<%= @location.name %>"));
    $('select#schedule_location_id').append($("<option></option>").attr("value","<%= @location.id %>").text("<%= @location.name %>"));
    $('select#schedule_location_id').val("<%= @location.id %>");
  <%else%>
    $("table#locations").append("<tr id='location-<%= @location.id %>'> <%= escape_javascript(render '/locations/location', { :location => @location } ) %> </tr> ");
  <%end%>
<%else%>
  $("#new-location").html("<%= escape_javascript(render :partial => '/locations/form' )%>").dialog({ zIndex: 3000,  width: 600, title: 'New Schedule', modal: true, resizable: false });
<%end%>