

.left
  %h3 
    Locations
    of 
    = @user.name
.right
  = link_to "Add new Location", new_user_location_path(@user), :class => 'btn', :remote => true
.clear
%br
%table.table.table-bordered#locations
  %thead
    %tr
      %th Name
      %th Contact
      %th Address
      %th
  %tbody
    - @locations.each do |location|
      %tr{:id => "location-#{location.id}"}
        = render "location", { :location => location }


#new-location