<% if @location.errors.blank? %>
  $("#new-location").dialog("destroy");
  
  $("tr#location-<%= @location.id%>").html("<%= escape_javascript(render '/locations/location', { :location => @location } ) %>");
<%else%>
  $("#new-location").html("<%= escape_javascript(render :partial => '/locations/form' )%>").dialog({ zIndex: 3000, width: "70%", title: 'New Schedule', modal: true, resizable: false });
<%end%>