!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "uklocumdoctors"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag "admin", :media => "all"


  %body
    = render '/shared/admin_navigation'
    .container
      .content
        .row
          .span12 
            = yield

    = javascript_include_tag "admin"
    = yield(:extra_javascript)
