<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>UK Locum Doctors &amp; Nurses - UK Locum Doctors &amp;amp; Nurses</title>
    <%= stylesheet_link_tag "website", :media => "all" %>
     <%= javascript_include_tag "application" %>
     <style type="text/css">

    h1 { font-size:200px; /* Font size is huge in Firefox */ }

</style>
<%= favicon_link_tag "favicon.ico" %>
</head>

<body>
  <div class="container">
    <div class="row top_bar">
      <div class="span5 logo">
        <a href="/"><img src="/assets/locum-logo.png"/></a>
      </div>
      <div class="span5 offset2">
        <div class="top-contact pull-right">
          <h4> <b>Call us now:</b> </h4>
          <h5> <b>07810444140 / 07725443191 / 0191 270 5119</b></h5>
          <h5><b><a id = "link" href="mailto:info@uklocumdoctors.co.uk">info@uklocumdoctors.co.uk</a></b></h5>
          <p><b> <h5>24 x 7 - 365 days </h5></b> </p>
        </div>  
      </div>
    </div>

       <div class="row">
          <div class="span12">
          <div class="navbar">
            <div class="navbar-inner">
                <ul class="nav">
                    <li class="<%= 'active' if request.fullpath == root_path %>"><a href="/">Home</a></li>
                     <li class="<%= 'active' if request.fullpath.match('aboutus')%>"><a href="/aboutus">About Us</a></li>
                      <li class="<%= 'active' if request.fullpath.match('settingstandards')%>"><a href="/settingstandards">Setting Standards</a></li>
                      <li class="<%= 'active' if request.fullpath.match('generalpractitioners')%>"><a href="/generalpractitioners">General Practitioners</a></li>
                      <li class="<%= 'active' if request.fullpath.match('nursesinfo')%>"><a href="/nursesinfo">Nurses</a></li>
  
                      <li> <%= link_to "Availability Planner" , new_user_session_path%></li>
          
                      <li class="<%= 'active' if request.fullpath.match('register')%>"><a href="/register">Register</a></li>
                      <li class="<%= 'active' if request.fullpath.match('contactus')%>"><a href="/contactus">Contact Us</a></li>   
                </ul>
            </div>
          </div><!-- /.navbar -->
        </div>  
       </div>
    </div>
</div>

 
<div class="container">
  <div class="row">
    <div class="content-list">
      <%= yield %> 
    </div>   
  </div>
</div>
 
<div class="footer">
  <div class="container">
    <div class="pull-left">
      <p>UK Locum Doctors is a Company registered in England and Wales Reg No: 7277019.</p>
      <p>© 2018 UK Locum Doctors Ltd. All Rights Reserved.</p>
    </div>
    <!--
    <div class="pull-right">
        <a href="#"><img src="/assets/facebook_icon.png"/></a>
        <a href="#"><img src="/assets/twitter_icons.png"/></a>
        <a href="#"><img src="/assets/googleplus-icon.png"/></a>
    </div>
    -->
    <div class="clearfix"> </div>
  </div>
</div>
</body>
</html>